<div class="row">
	<div class="offset2 span8">
		<div class="fragment_container">
			<%= render 'fragments/fragment_edit', fragment: @fragment %>
		</div>	
	</div>
</div>
<%= render 'fragment_types/code_editor' %>