<%
	index ||= @index
	number ||= @number
	remote_bool ||= false
%>
<div class="streamline_loading_button">
	<%= link_to 'Give me more', streamline_path(index:index, number:number), class:'btn btn-large btn-primary', remote:remote_bool %>
</div>
