<div class="span8">
<% @fragments.each do |frag| %>
	<div class="row">
		<div class="span8">
			<%= render 'fragments/fragment', popover_controls:true, fragment:frag, aside: true %>
		</div>
	</div>
<% end %>
</div>