<% provide :title, full_title("Your Articles") %>
<div class="row">
	<div class="offset2 span7">
		<h1>Your articles...</h1>
	</div>
</div>
<div class="row">
	<div class="offset2 span7">
		<div class="centered_content"><%= will_paginate @articles %></div>
			<%= render @articles %>
		<div class="centered_content"><%= will_paginate @articles %></div>
	</div>
</div>