<% provide :title, "New article" %>

<div class="row">
	<div class="offset3 span6">
			<h1>Choose a title,</h1>
			<h2>you can change it later:</h2>
	</div>
</div>
<div class="row">
	<div class="offset3 span6 well">
		<%= render 'articles/new_article_form' %>
	</div>
</div>
