$(".article_edit_container .unpublish_article_button").replaceWith("<%= escape_javascript(render 'articles/publish_article_button')%>");
modalWindow("","<%= escape_javascript(render 'layouts/flash_messages') %>");
$("#article_<%= @article.id %> .tooltip_content").html("<a class='close'>&times;</a><%= escape_javascript(render 'articles/article_controls', remote_bool: true, article:@article) %>");