<% provide :title, full_title("Staff") %>
<script>
$(function(){
	$("#experiment").click(function(){
		modalWindow("Immagine cross domain:",'<%= image_tag "http://s3.amazonaws.com/fragments_project/users/avatars/000/000/001/medium/Pirates.JPG?1345888941" %>');
	});
});
</script>
<button id="experiment">Click to load image</button>
<div class="row">
	<div class="offset3 span6">
		<div class="centered_content"><%= will_paginate @users %></div>
			<%= render @users %>
		<div class="centered_content"><%= will_paginate @users %></div>
	</div>
</div>
