<% provide :title, "Puzzle Box | Images" %>
<div class="container-fluid puzzle_box_container" id="puzzle_box_images_container">
	<div class="span2">
			<%= render 'layouts/puzzle_box_nav', active:'images' %>
	</div>
	<div class="offset1 span6">
		<div class="row resource_box_controls" id="fragment_images_box_controls">
			<div class="span6">
				<% if can_create_fragment_resources? %>
					<%= link_to new_fragment_image_path, remote:true, class:"btn btn-success" do %>
						<i class="icon icon-white icon-plus"></i> Add Images
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<ul class="thumbnails">
				 <%= render @fragment_images %>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span6 will_pagination">
				<%= will_paginate @fragment_images %>
			</div>
		</div>
	</div>

</div>
