<%
appears_in_articles = fragment.articles(@article)
if not appears_in_articles.count==0
%>
	<div class="also_appears_in">
		<p>Also appears in:</p>
		<ul>
			<% appears_in_articles.each do |id, article_metadata| %>
					<li>
							<%= link_to article_metadata[:title], article_path(id) %> by <%= article_metadata[:user] %>
					</li>
			<% end %>
		</ul>
	</div>
<%
end
%>