<% fragment ||= @fragment %>
<header>
	<% if not fragment.publication_date.nil?||fragment.publication_date.blank? %>
	<p><strong><%= fragment.user.name %></strong>, <%= time_tag fragment.publication_date %></p>
	<% end %>

	<%= link_to fragment_path(fragment) do %>
	[Details]
	<%end%> 

</header>
