<% # TODO da modificare perchè sia un sommario, con popover sempre attivi
fragment ||= @fragment
edit ||= false
popover_controls ||= false
%>
<div id="fragment_<%=fragment.id %>" class="fragment_container">
	<% if not edit %>
	
		<%= render 'fragments/fragment_view', fragment: fragment %>
	
	<% else %>
		
		<%= render 'fragments/fragment_edit', fragment: fragment %>
	
	<% end %>
	
	<%= render 'fragments/popover_controls', fragment: fragment, popover_controls: popover_controls %>
	
	<%
	# TODO rendering delle risorse
	%>
</div>