<% fragment ||= @fragment %>
<header>
	<%= link_to fragment_path(fragment) do %>
		<i class="icon icon-eye-open icon-white"></i>
	<%end%> 
	<% if not fragment.name.blank? %>
		<h1>"<%= fragment.name %>"</h1>
	<% end %>
	<% if not fragment.publication_date.nil? %>
	<p><strong><%= fragment.user.name %></strong>, <%= time_tag fragment.publication_date %></p>
	<% end %>
</header>
