<% fragment ||= @fragment
popover_controls ||= false
%>
<div class="hide <%= popover_controls&&(can_edit_fragment?(fragment)||can_destroy_fragment?(fragment)) ? 'tooltip_content' : '' %>">
	<a class='close'>&times;</a>
	<%= render 'fragments/fragment_controls', remote_bool: true, fragment:fragment%>
</div>