<% provide :title, "Puzzle Box | Fragments" %>
<%
	# TODO aggiungere link per nuovo frammento che mostri una dialog con tutti i tipi di frammento per scegliere!
%>
<div class="container-fluid puzzle_box_container" id="puzzle_box_fragments_container">
		<div class="span2">
			<%= render 'layouts/puzzle_box_nav', active:'fragments' %>
		</div>
		<div class="offset1 span6">
			<div class="row">
				<div class="span6">
					<ul>
						<% @summary_fragments.each do|fragment| %>
						<li>
							<%= render 'fragments/fragment_summary', fragment: fragment %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span6 will_pagination">
					<%= will_paginate @summary_fragments %>
				</div>
			</div>
		</div>
</div>
