<div class="row">
	<div class="offset3 span6">
		<%= render 'fragments/fragment_view', fragment: @fragment, popover_controls:false %>
		<%= render 'fragments/fragment_controls', remote_bool:false %>
	</div>
</div>
