<% provide :title, @fragment.name %>
<div class="row">
	<div class="offset2 span8 view_article_container hanging_container">
		<%= render 'fragments/fragment', fragment: @fragment, popover_controls:false, edit:false, fragment_header:true %>
		<%= render 'fragments/fragment_controls', remote_bool:false %>
	</div>
</div>
