@import "mixins";
@import 'variables';

#new_article {
  text-align:center;
  #title {
    width:70%;
    height:50px;
    font-size:1.2em;
    text-align:center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .btn {
    width: 40%;
    height:30px;
  }
}

.article_header{
  overflow:hidden;
  background-color:$header_dark_grey;
  color:$header_light_grey;
  p {
    font-size: 0.7em;
    text-align:right;
    margin:0px auto;
    float:left;
    width:40%;
  }
  h1 {
    font-size:1.5em;
    line-height:1.2em;
    width:60%;
    float:left;
    margin:0px auto;
  }
  h2 {
    margin-top:10px;
    float:left;
    max-width:40%;
    color:black;
    line-height:1em;
  }
}

.article_partial {
  @include small-diffuse-shade;
  @include rounded_corners;
  position:relative;
  padding:30px 0px;
  margin: 0px 0px 30px 0px;
  header {
    background-color:$header_dark_grey;
    color:$header_light_grey;
    h1{
      font-size:1.3em;
      line-height:1.2em;
    }
  }
  .article-summary{
    @include bottom-small-border;
  }
  footer {
    text-align:center;
    
    .read_more_link{
      img {
        margin:5px auto;
       }
      font-size:1.4em;
      &:hover{
        text-decoration:none;
      }
    }
  }
}
.article_view_container {
  header{
    margin-top:20px;
  }
  aside{
    min-height:1px;
    &.left-article_controls{
      text-align:right;
    }
    &.right-article_controls{
      text-align:left;
    }
  }
  .pager{
    .next_page_link_container a, .previous_page_link_container a{
      width:100px;
    }
  }
  
}

.article_edit_container {
  .article_title {
    text-align:center;
  }
  aside{
    min-height:1px;
    &.left_article_controls{
      .controls_container{
          margin-left:-30px;
          width:185px;
        }
    }
  }
  form {
    display:inline;
  }
  .article_buttons{
    text-align:center;
    margin-top:0px;
    a,button {
      margin:10px auto;
    }
  }
  .article_title_editing_controls {
    position:relative;
    .title_edit_field{
    display:none;
    font-size:1em;
    text-align:center;
    width:100%;
    }
    .article_title_edit_button {
      position:absolute;
      top:0px;
    }
  }
  .page_controls{
    color:black;
    .page_name_editing_controls{
      position:relative;
      .page_name {
      font-size:1.3em;
      line-height:1.3em;
      width:100%;
      word-wrap: break-word;
      }
      .page_name_edit_field{
        width:100%;
        display:none;
      }
      .page_name_edit_button {
        position:absolute;
        top:0px;
      }
    }
    .page_fragments_controls{
      text-align:center;
      a.btn, button{
        margin-top:10px;
        width:80%
      }
      .btn-group {
        a.btn,button{
          width:60%;
        }
        .dropdown-toggle{
          width:20%;
        }
      }
    }
  }
  
  ul.pages_list{
     list-style-type:none;
  }
  
  .pages_list_container{
    color:black;
    padding:10px;
    ul{
      margin:0px;
      text-align:center;
      max-height: 480px;
      overflow:scroll;
    }
    .page_miniature {
      padding:5px;
      border-width:1px;
      overflow:hidden;
      margin: 5px auto;
      height:50px;
      width:180px;
      &.current_page{
        border-style:solid;
        border-color:green;
        background-color:#eeffee;
      }
      .btn, img, .page_miniature_name{
        float:left;
      }
      .btn {
        margin-top: 10px;
      }
      .page_miniature_name {
        margin-top: 5px;
        width:80px;
        height:50px;
        font-style:italic;
      }
    }
    
    .page_list_controls {
      text-align: center;
    }
  }
  
  .fragment_container {
    position:relative;
    .article_fragment_edit_controls {
      width:180px;
      position:absolute;
      
      top:0px;
      display:none;
      li {
        float:left;
        a {
          margin-top:3px;
        }
      }
    }
  }
}
