@import "mixins";
@import 'variables';

#new_article {
  text-align:center;
  #title {
    width:70%;
    height:50px;
    font-size:1.2em;
    text-align:center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .btn {
    width: 40%;
    height:30px;
  }
}

.article_header{
  overflow:hidden;
  background-color:$header_dark_grey;
  color:$header_light_grey;
  p {
    font-size: 0.7em;
    text-align:center;
    margin:0px auto;
    width:100%;
  }
  h1 {
    font-size:1.5em;
    line-height:1em;
    width:100%;
    margin:0px auto;
    text-align:center;
  }
  h2 {
    width:100%;
    color:black;
    line-height:1em;
    text-align:center;
      em{
	  margin-left:10px;
	  font-style:normal;
	  color:$light_gray;
	  font-size:0.8em;
      }
  }
}

.article_partial {
  position:relative;
  padding:30px 0px;
  margin: 0px 0px 30px 0px;
  header {
    border-style: none none solid none;
    border-width:1px;
    border-color:$delicate-gray;
    h1{
      font-size:1.3em;
      line-height:1em;
      text-align:left;
    }
    h2{
      display:none;
    }
    p{
	text-align:left;
    }
  }
  footer {
    text-align:center;
    .read_more_link{
      font-size:1.2em;
      &:hover{
        text-decoration:none;
      }
    }
  }
}
.article_view_container {
  header{
    margin-top:20px;
  }
  #chapters_outline{
    @include very_gentle_shade;
    @include dashed_borders;
    width:90%;
    border-top-style:none;
    ul{
	width:80%;
	margin:auto;
    }
  }
  aside{
    min-height:1px;
    &.left-article_controls{
      text-align:right;
    }
    &.right-article_controls{
      text-align:left;
    }
  }
    .next_page_link_container, .previous_page_link_container{
      width:50%;
      text-align:center;
      float:left;
      margin:20px auto;
      a{
	  color:$light_gray;
    	  font-size:30px;
    	  text-decoration:none;
      }
    }
  
}

.article_edit_container {
  .controls_popover_toggler{
      right:0px;
  }
  .article_title {
    text-align:center;
  }
  aside{
    min-height:1px;
    &.left_article_controls{
      .controls_container{
          margin-left:-30px;
          width:185px;
        }
    }
  }
  form {
    display:inline;
  }
  .article_buttons{
    text-align:center;
    margin-top:0px;
    a,button {
      margin:10px auto;
    }
  }
  .article_title_editing_controls {
    position:relative;
    .title_edit_field{
    display:none;
    font-size:1em;
    text-align:center;
    width:100%;
    }
    .article_title_edit_button {
      position:absolute;
      top:0px;
    }
  }
  .page_controls{
    @include very_gentle_shade;
    @include dashed_borders;
    color:black;
    div{
	width:80%;
	margin:10px auto;
    }
    .page_name_editing_controls{
      position:relative;
      .page_name {
      font-size:1.3em;
      line-height:1.3em;
      word-wrap: break-word;
      }
      .page_name_edit_field{
        display:none;
      }
      .page_name_edit_button {
        position:absolute;
        top:0px;
      }
    }
    .page_fragments_controls{
      text-align:center;
      a.btn, button{
        margin-top:10px;
        width:80%
      }
      .btn-group {
        a.btn,button{
          width:60%;
        }
        .dropdown-toggle{
          width:20%;
        }
      }
    }
  }

  ul.pages_list{
     list-style-type:none;
  }
  
  .pages_list_container{
    @include very_gentle_shade;
    @include dashed_borders;
    color:black;
    padding:10px;
    ul{
      margin:0px;
      text-align:center;
      max-height: 480px;
      overflow:scroll;
    }
    .page_miniature {
      padding:5px;
      border-width:1px;
      overflow:hidden;
      margin: 5px auto;
      height:50px;
      width:180px;
      &.current_page{
        border-style:solid;
        border-color:green;
        background-color:#eeffee;
      }
      .btn, img, .page_miniature_name{
        float:left;
      }
      .btn {
        margin-top: 10px;
      }
      .page_miniature_name {
        margin-top: 5px;
        width:80px;
        height:50px;
        font-style:italic;
      }
    }
    
    .page_list_controls {
      text-align: center;
    }
  }
  
  .fragment_container {
    position:relative;
    .article_fragment_edit_controls {
      width:180px;
      position:absolute;
      top:-4px;
      right:50px;
      display:none;
      li {
        float:left;
        a {
          margin-top:3px;
        }
      }
    }
  }
}
