#new_article {
  text-align:center;
  #title {
    width:70%;
    height:50px;
    font-size:1.2em;
    text-align:center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .btn {
    width: 40%;
    height:30px;
  }
}