@import "variables";
@import "mixins";

#puzzle_box_fragments_container{
  #box_bags_sidebar_nav{
    margin-top:50px;
    li{
      @include gentle_occlusion
      }
    #bag_none_link{
        font-weigt:bold;
     }
    a{
      border-style:dashed;
    }
  }
  .resource_box_controls{
    @include rounded_bottom_corners;
    @include very_gentle_shade;
    @include dashed_borders;
    border-width:0px 1px 1px 1px;
    background-color:white;
    padding: 5px 0px;
  }
  #box_resources_list_container{
    margin-top:50px;
  }
}
