@import "variables";
@import "mixins";

.bag_edit_form{
  text-align:center;
  width:100%;
}

#puzzle_box_fragments_container{
  ul.thumbnails > li{
    width:290px;
    height:150px;
  }
  #box_bags_sidebar_nav_container{
    margin-top:50px;
    text-align:center;
    #box_bags_sidebar_nav{
    #bag_none_link{
        font-weigt:bold;
     }
    a{
      border-style:dashed;
     }
    }
    #new_bag_button{
        width:50px;
        margin:0px auto;
      }
  
  }
  .resource_box_controls{
    @include rounded_bottom_corners;
    @include very_gentle_shade;
    @include dashed_borders;
    z-index:100;
    border-width:0px 1px 1px 1px;
    background-color:white;
    padding: 5px 0px;
    .box_controls_bar_section{
      float:left;
      width:30%;
      text-align:center;
      margin: 0px auto;
      a,li{
        margin:0px 5px;
        float:left;
      }
    }
  }
  #box_resources_list_container{
    margin-top:50px;
  }
}

/*Add from box*/
#puzzle_box_fragments_container.choose_from_puzzle_box_container{
  height:300px;
  background-color:#ffffff;
  color:black;
  overflow:hidden;
  #box_bags_sidebar_nav_container,#box_resources_list_container{
    margin:0px 10px;
    height:300px;
    overflow:auto;
  }
}
.addFromBoxConfirmationContainer{
  @include diffuse_shade;
  width:100%;
  background-color:#333333;
  text-align:center;
  border-bottom:#000000 solid 2px;
  border-top:#000000 solid 2px;
  .btn{
    margin:5px auto;
  }
}
