@import "bootstrap";
body { padding-top: 40px; }
@import "bootstrap-responsive";
@import "variables";
@import "mixins";

/*----------------------------Mixins--------------*/
@mixin centered_content{
  margin:auto auto;
  text-align:center;
}

/*---------------------------Styles---------------*/
textarea{
  resize:none;
}

.centered_content {
  @include centered_content
}

.center {
  text-align:center;
}

.expanded-centered {
  @include centered_content;
  width:100%;
  
}

.gentle-shade {
  @include gentle_shade;
}

ul {
  list-style-type: none;
  padding:0px;
  margin:0px;
}

/*images*/
img.thumb {
  min-width:$thumb_size;
  min-height:$thumb_size;
}
img.medium{
  min-width:$medium_size;
  min-height:$medium_size;
}

.will_pagination{
  text-align:center;
}

.main_container header{
  color:#444444;
  font-size:1.5em;
  background-color:#ffffff;
  padding:10px 25px;
  h2 {
    font-size:0.9em;
  }
}

/*Conent containers*/
.hanging_container {
    @include diffuse_shade;
    @include rounded_bottom_corners;
    margin-top:0px;
    margin-bottom:20px;
  }
/*--------------------------Popups */
.popover-inner {
  width:auto;
  position:relative;
  .close {
    position:absolute;
    right:4px;
    top:0px;
  }
}

h3.popover-title{
  display:none;
}

/*------------------------controls */

.editing_header{
  text-align:right;
  a{
    cursor:pointer;
  }
}

.popover_overlay ul.controls li{
  width:100%;
}

 ul.controls, ul.user-works {
    list-style-type:none;
    margin:10px auto;
    overflow:hidden;
  }
  ul.controls {
    li{
      float:left;
      text-align:center;
    }
    .popover &{
      width: 110px;
    }
    a, button.btn{
      margin:3px 5px;
      float:left;
    }
    a {
      width:80px;
    }
    button.btn {
      width:100px;
    }
    form {
      margin: 0px;
    }
  }

.controls_popover_toggler{
  position:absolute;
  right:0px;
}

.popover_overlay{
  z-index:1000;
  color:white;
  position:absolute;
  display:none;
  width:100%;
  .overlay_content{
    @include smaller_rounded_corners;
    background-color:rgba(0,0,0,0.7);
    padding:15px;
    width:120px;
    margin:10px auto;
    .close{
      color:white;
      opacity: 1;
    } 
  }
}

/*--------------------------Partials */
/*Partials with editing buttons*/
.resource_partial{
  position:relative;
}

/* Roles */
.role-check-cell {
  min-width:20px;
}

.role-button-cell .btn{
  min-width:70px;
}

/*---------------------------Header*/
#signin-form{
  input{
    width:auto;
  }
  label{
    margin: auto 5px;
  }
  input#login-submit {
    clear: left;
  }
}

/*------------------------Tables*/
table .table-key{
  font-weight:bold;
  text-align:right;
}

/*----------------------Affix*/
#puzzle-box-nav-container{
  min-height:1px;
}

#puzzle-box-nav{
  width:140px;
}

.affix{
  position:fixed;
}

/*-------------------Puzzle Box*/
.resource_box_controls {
  text-align:center;
  margin-bottom: 15px;
}

ul.resource_uploading_fields {
  list-style-type: none;
}
