// Place all the styles related to the fragment_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Editing page
$coding_area_height:400px;

.coding_area_container{
  height:$coding_area_height;
  overflow:auto;
}

.coding_area{
  width:100%;
  height:$coding_area_height;
  position:absolute;
}
.coding_areas_container{
  position:relative;
  margin-top:20px;
}

.resource_code_editor{
  display:none;
}

#description{
  width:100%;
  height:300px;
  font-family:'Courier New';
  font-size:1.2em;
}

.type_icon_thumb{
  max-width:40px;
}

.fragment_type_library_checkbox {
    input, label {
	float:left;
	margin-right:10px;
    }
}