@import 'mixins';
.fragment_image.thumbnail{
  border-style: dashed;
  @include rounded_corners;
  overflow:hidden;
  li{
    float:left;
  }
  img{
    max-width:130px;
    max-height:100px;
  }
  p, .fragment_image_controls{
    font-size:15px;
    color:#5f5f5f;
    text-align:center;
    margin-top:5px;
    max-height:20px;
    overflow:hidden;
  }
}

form.edit_fragment_image{
  text-align:center;
}
form.edit_fragment_image{
  fieldset{
    margin: 5px auto;
  }
  img{
    max-height:250px;
  }
  .media_fragment_form{
    width:25px;
  } 
}
