@import 'variables';
@import 'mixins';

.fragment_controls {
  text-align:right;
}

.fragment_container{
  width:100%;
  margin:0px auto;
  &.streamlined_fragment{
    @include small-diffuse-shade;
    @include smaller_rounded_corners;
    padding:10px 0px;
    margin: 0px 0px 30px 0px;
  }
  header {
    font-size:1em;
    overflow:hidden;
    background-color:$header_dark_grey;
    color:$header_light_grey;
    padding:0px 10px;
    a{
      float:left;
      margin:7px;
    }
    p {
      float:left;
      line-height:1em;
      margin:10px 20px;
      max-width:35%;
    }
    h1{
      font-style:italic;
      float:left;
      line-height:1.2em;
      max-width:50%;
      font-size:1em;
      font-weight:normal;
    }
  }
}

.modal_index .fragment_summary {
  margin: 5px auto;
  .add_fragment_button {
    margin-top:80px;
  }
}
.fragment_summary{
  h4 {
    display:inline;
  }
  img {
    margin-right:15px;
  }
  td.table-value, td.table-key{
    p{
      max-height:50px;
      overflow:hidden;
    }
  }
}

