@import 'variables';

.remove_upload_button {
  margin-left: -18px;
}

.fragment_resource_panel_controls{
  margin-bottom:10px;
  text-align:center;
}

.fragment_editor_resource_container{
  position:relative;
  .detach {
    position:absolute;
    top:0px;
    left:5px;
    color:black;
  }
}

.modal-body{
  .modal_index{
  max-height:300px;
  overflow: scroll;
  .selected{
    border-color:green;
    background-color: $selected_item_color;
  }
  }
  .choose_from_box_controls {
    text-align:center;
  }
}
