<!-- Un motivo per renderizzarle a fondo pagina: quando i flash di errore sono renderizzati una volta vengono resettati. Meglio mostrarli a inizio pagina se possibile -->

<!-- login modale -->
<div class="modal hide fade" id="modalLogin">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Log In</h3>
  </div>
  <div class="modal-body"> 	
  		<%= render 'layouts/flash_messages' %>
    	<%= render 'sessions/signin_form' %>
  </div>
</div>

<!-- Nuovo articolo modale -->
<div class="modal hide fade" id="modalNewArticle">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Insert your title:</h3>
  </div>
  <div class="modal-body"> 	
    	
  </div>
</div>