<% if flash
		if not flash[:success].nil? %>
			<div class="alert alert-success">
				<%= flash[:success] %>
				<% flash[:success] = nil %>
			</div>	
<% 		end
		if not flash[:errors].nil? %>
		<div class="alert alert-error">
			<% if flash[:errors].respond_to?(:each) %>
				<ul>
				<% flash[:errors].each do |k,v| %>
					<li><%= v.join(", ") %></li>
				<% end %>
				</ul>
			<% else %>
				<%= flash[:errors] %>
			<% end %>
			<% flash[:errors] = nil %>
		</div>
		<% end %>
<%	end %>
